[submodule "Seoul-HW-Hackathon-21"]
	path = Android_frontend
	url = https://github.com/ichbinloo/Seoul-HW-Hackathon-21
[submodule "lsm6dsl_accelero"]
	path = lsm6dsl_accelero
	url = https://github.com/Hey-Doc/lsm6dsl_accelero.git
